[submodule "letssharebooks"]
	path = letssharebooks
	url = git@github.com:marcellmars/letssharebooks.git
[submodule "securedrop"]
	path = securedrop
	url = git@github.com:freedomofpress/securedrop.git
[submodule "ChatSecureAndroid"]
	path = ChatSecureAndroid
	url = git@github.com:guardianproject/ChatSecureAndroid.git
[submodule "securereader"]
	path = securereader
	url = git@github.com:guardianproject/securereader.git
[submodule "ObscuraCam"]
	path = ObscuraCam
	url = git@github.com:guardianproject/ObscuraCam.git
[submodule "Satori"]
	path = Satori
	url = git@github.com:glamrock/Satori.git
[submodule "Orbot"]
	path = Orbot
	url = git@github.com:guardianproject/Orbot.git
[submodule "kerplapp"]
	path = kerplapp
	url = git@github.com:guardianproject/kerplapp.git
[submodule "PixelKnot"]
	path = PixelKnot
	url = git@github.com:guardianproject/PixelKnot.git
[submodule "IOCipher"]
	path = IOCipher
	url = git@github.com:guardianproject/IOCipher.git
[submodule "OSTel"]
	path = OSTel
	url = git@github.com:guardianproject/OSTel.git
[submodule "documentcloud"]
	path = documentcloud
	url = git@github.com:documentcloud/documentcloud.git
[submodule "text-to-bitmap"]
	path = text-to-bitmap
	url = git@github.com:shannonturner/text-to-bitmap.git
[submodule "pond"]
	path = pond
	url = git@github.com:agl/pond.git
[submodule "GlobaLeaks-0.1"]
	path = GlobaLeaks-0.1
	url = git@github.com:globaleaks/GlobaLeaks-0.1.git
[submodule "android-database-sqlcipher"]
	path = android-database-sqlcipher
	url = git@github.com:sqlcipher/android-database-sqlcipher.git
[submodule "k-9"]
	path = k-9
	url = git@github.com:k9mail/k-9.git
[submodule "tabula"]
	path = tabula
	url = git@github.com:jazzido/tabula.git
[submodule "RedPhone"]
	path = RedPhone
	url = git@github.com:WhisperSystems/RedPhone.git
[submodule "occupy.here"]
	path = occupy.here
	url = git@github.com:occupyhere/occupy.here.git
[submodule "iOS-OnionBrowser"]
	path = iOS-OnionBrowser
	url = git@github.com:mtigas/iOS-OnionBrowser.git
[submodule "apg"]
	path = apg
	url = git@github.com:thialfihar/apg.git
